@mixin num($w:100%,$h:100%){
   width:$w;
   height:$h;
}
.app{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
}
.header{
  @include num(100%,.88rem)
}
.main{
  flex:1;
  overflow:auto;
}
.footer{
  @include num(100%,1rem);
  .active{
    color:red;
  }
  a{
    color:#6F6D6E;
  }
}